nav {
  height: 120px;
  width: 100%;
  background-color: #6ec7f0;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  z-index: 9;
  position: absolute;
}

nav .site-name {
  font-family: 'bungee';
  font-size: 38px;
}

nav #write {
  flex-direction: column;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav i {
  color: #e73d3d;
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #8aceed;
    position: fixed;
  }
}

/* bounce animation */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(25%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

nav #write:hover {
  animation: bounce 1s infinite;
}
